.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1.5rem;
  background-color: rgba($color-2, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 55rem;
  max-height: calc(100vh - 10rem);
  border-radius: 0;
  overflow-y: auto;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.5);
}

.modal__body {
  padding: 2rem;

  @include respondMf(md) {
    padding: 2rem 3rem;
  }
}

.modal__header {
  padding: 2rem 4rem 2rem 2rem;
  background-color: $color-6;

  @include respondMf(md) {
    padding: 2rem 4rem 2rem 3rem;
  }
}

.modal__closer {
  position: absolute;
  z-index: 5;
  right: 1.5rem;
  top: 1.8rem;
  padding: 0.5rem;
  font-size: 2rem;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: color 0.25s;

  @include respondMf(md) {
    top: 1rem;
    right: 2rem;
  }

  &:hover {
    color: $color-2;
  }
}
.modal__closer::before { content: "\2715"; }

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  //will-change: transform;
}
