body[theme="dark"] {
  .content,
  .header,
  .wrapper {
    background-color: #212529;
  }

  .card-title {
    color: rgb(231, 238, 248);
  }

  .datagrid,
  .ublaboo-datagrid-th-form-inline,
  .row-grid-bottom,
  .datagrid table th.col-checkbox {
    background: transparent !important;
  }
}
