.container {
  max-width: 120rem;

  @include respondMf(md) {
    padding: 0 6rem;
  }

  @include respondMf(xsDesktop) {
    padding: 0 1rem;
  }
}

.container--sm {
  max-width: 107rem;
}

.container--lg {
  max-width: 155rem;
}

.row {
  @include respondMf(xsDesktop) {
    margin: 0 -1rem;
  }
}

.col,
[class^="col-"] {
  @include respondMf(xsDesktop) {
    padding: 0 1rem;
  }
}
