previous: 'Predošlý'
next: 'Ďalší'
reset_filter: 'Resetovať'
items: Zobrazuje
from: 'Celkom z'
show_filter: 'Filtrovať'
show_all_columns: 'Zobraziť všetky stĺpce'
show_default_columns: 'Zobrazit predvolené stĺpce'
action: 'Akcie'
no_item_found_reset: 'Nič nenájdené'
here: 'Reset'
no_item_found: 'Nič nenájdené'
hide_column: Skrýť stĺpec
all: 'Všetko'
group_actions: 'Akcie'
choose: 'Vybrať'
execute: 'Vykonať'
cancel: 'Späť'
save: 'Uložiť'