//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}


// Bootstrap
.btn-info,
.btn-primary {
	background-color: #4d69fa;
}

.btn {
	border-radius: 10px;
	padding: 6.5px 10px;
	font-size: 12.5px;
}

.datagrid .btn {
	margin: 0 2.5px;
}

.btn-icon {
	margin-right: 0 !important;
}

.btn .svg-icon {
	width: 18px;
	height: 18px;
}

.btn-pdf {
	color: #f35421 !important;
	background-color: rgba(243, 84, 33, 0.2);
	border-color: transparent !important;

	&:hover {
		color: #fff !important;
		background-color: #f35421 !important;
	}
}

.btn-edit,
.btn-email {
	border: 0.5px solid rgba(231, 238, 248, 1);

	svg {
		color: #6c5dd3;
	}

	&:hover {
		background-color: #6c5dd3;

		svg {
			color: #fff;
		}
	}
}

.btn-delete {
	border: 0.5px solid rgba(231, 238, 248, 1);

	svg {
		color: #f35421;
	}

	&:hover {
		background-color: #f35421;

		svg {
			color: #fff;
		}
	}
}

.datagrid table {
	margin-top: 20px !important;
}

.datagrid-collapse-filters-button-row .btn {
	padding: 5.5px 11px !important;
	margin: 0 !important;
}

.datagrid .input-group-append {
	display: none;
}