parameters:
    debugMode: false
    consoleMode: false


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

webpack:
    build:
        directory: %wwwDir%/dist
        publicPath: ''
    devServer:
        enabled: %debugMode% # default
        url: http://localhost:8000
        timeout: 0.1 # (seconds) default
    manifest:
        name: manifest.json