parameters:
    debugMode: false
    consoleMode: false
    recaptcha:
        secretKey: 6Ldj4EEdAAAAAKiOlkbhlbgyYRQGtyr5euYcDDUz
        siteKey: 6Ldj4EEdAAAAANQbRkGsAvVTPYVtcDzElYdCXTv5
    doctrine:
        host: localhost:3309
        user: root
        password:
        dbname: ekopelety
        driver: pdo_mysql
        charset: 'utf8'


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

services:

	# ------------------------------------------------- Repositories --------------------------------------------------- #

	AddressRepository:
		type: App\Repository\AddressRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Address')
	BankAccountRepository:
		type: App\Repository\BankAccountRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\BankAccount')
	ContactRepository:
		type: App\Repository\ContactRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Contact')
	LineItemRepository:
		type: App\Repository\LineItemRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\LineItem')
	PaymentDataRepository:
		type: App\Repository\PaymentDataRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\PaymentData')
	TaxDocumentRepository:
		type: App\Repository\TaxDocumentRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\TaxDocument')
	UserRepository:
		type: App\Repository\UserRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\User')
	UserCompanyRepository:
		type: App\Repository\UserCompanyRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\UserCompany')
	# Ecommerce
	EcommerceOrderRepository:
		type: App\Repository\Ecommerce\OrderRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Ecommerce\Order')
	EcommerceOrderItemRepository:
		type: App\Repository\Ecommerce\OrderItemRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Ecommerce\OrderItem')
	EcommercePaymentRepository:
		type: App\Repository\Ecommerce\PaymentRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Ecommerce\Payment')
	EcommerceSubscriptionRepository:
		type: App\Repository\Ecommerce\SubscriptionRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Entity\Ecommerce\Subscription')

	# Security
	authenticator:
		factory: \App\Security\Authenticator
		inject: yes
	securityService:
		factory: \App\Service\SecurityService
		inject: yes

	# Form controls
	- App\SecurityModule\Forms\ILoginForm
	- App\SecurityModule\Forms\IRegisterForm
	- App\SecurityModule\Forms\IResetPasswordForm
	- App\ContactModule\Forms\IContactForm

# Extensions
extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	events: Contributte\EventDispatcher\DI\EventDispatcherExtension
	translation: Contributte\Translation\DI\TranslationExtension
	# Nettrine Common
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	# DBAL
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	# ORM
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

# Extension configs
webpack:
    build:
        directory: %wwwDir%/dist
        publicPath: ''
    devServer:
        enabled: %debugMode% # default
        url: http://localhost:8000
        timeout: 0.1 # (seconds) default
    manifest:
        name: manifest.json

nettrine.orm:
    configuration:
        autoGenerateProxyClasses: true
        customNumericFunctions:
            floor: DoctrineExtensions\Query\Mysql\Floor
        customDatetimeFunctions:
            date_format: DoctrineExtensions\Query\Mysql\DateFormat
            floor: DoctrineExtensions\Query\Mysql\Floor
            round: DoctrineExtensions\Query\Mysql\Round
            date: DoctrineExtensions\Query\Mysql\Date
            year: DoctrineExtensions\Query\Mysql\Year
            month: DoctrineExtensions\Query\Mysql\Month
            day: DoctrineExtensions\Query\Mysql\Day
        customStringFunctions:
            collate: DoctrineExtensions\Query\Mysql\Collate

nettrine.orm.annotations:
	mapping:
		# App entities
		App\Entity: %appDir%/Entity

nettrine.migrations:
  directory: %appDir%/../migrations

nettrine.extensions.atlantic18:
    loggable: false
    sluggable: false
    softDeleteable: false
    treeable: false
    blameable: false
    timestampable: true
    translatable: false
    uploadable: false
    sortable: true
    ipTraceable: false

console:
	name: Fakturujonline.sk
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://app.fakturujonline.sk/
	lazy: false

recaptcha:
    secretKey: %recaptcha.secretKey%
    siteKey: %recaptcha.siteKey%

nettrine.dbal:
    connection:
        host: %doctrine.host%
        user: %doctrine.user%
        password: %doctrine.password%
        dbname: %doctrine.dbname%
        driver: %doctrine.driver%
        charset: %doctrine.charset%
        metadata:
            App\Entity: %appDir%
    debug:
        panel: true

translation:
	locales:
		whitelist: [sk]
		default: sk
		fallback: [sk]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is true