<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.png" rel="icon"/>
    <title>Faktura</title>
    <meta name="author" content="harnishdesign.net">
    {*Style*}
    {include "_partials/pdf/style.latte"}
    <style>
        * {
            font-family: DejaVu Sans !important;
            font-size: 10px;
        }
        body {
            font-family: DejaVu Sans, sans-serif;
        }
        .header-logo {
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
            margin-bottom: 10px;
        }
        .company-logo {
            max-width: 100px;
            max-height: 100px;
        }
        @page {
            margin: 0 !important;
        }
    </style>

    <!-- Web Fonts
    ======================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'
          type='text/css'>

    <!-- Stylesheet
    ======================= -->
    {*Bootstrap*}
{*    {include "_partials/pdf/bootstrap.min.latte"}*}
    {*include "_partials/pdf/font-awesome.latte"*}
</head>
<body style="margin: 0; padding: 0;">
    <div style="padding: 0 15px;">
    <!-- Container -->
    <div class="container-fluid invoice-container">
        <!-- Main Content -->
        <main class="main-content">
            <!-- Header -->
            <table class="row w-100">
                <tr>
                    <td class="row align-items-center w-50">
                        <div class="col-sm-7 text-center text-sm-start mb-3 mb-sm-0">
                            {if $logo}
                                <img id="logo" class="company-logo" src="{$baseUrl}{$logo}"/>
                            {/if}
                        </div>
                    </td>
                    <td class="w-50">
                        <div class="col-sm-5 text-right text-sm-end test-class">
                            <h4 class="mb-0">{$taxDocumentType} č. {$taxDocument->getNumber()}</h4>
                            <p n:if="$taxDocument->getEvidenceNumber()" class="mb-0">Evidenčné číslo - {$taxDocument->getEvidenceNumber()}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td class="w-50" style="vertical-align: baseline">
                        <div class="col-sm-6 order-sm-0"> <strong>Odberateľ:</strong>
                            <address>
                                {include "_partials/pdf/address.latte", address: $taxDocument->getSubscriberBillingAddress(), localeCode: $taxDocument->getLocaleCode()}
                                <br/>
                            </address>
                        </div>
                    </td>
                    <td class="w-50 text-right" style="vertical-align: baseline">
                        <div class="col-sm-6 text-sm-end order-sm-1"> <strong>Dodávateľ:</strong>
                            <address>
                                {include "_partials/pdf/address.latte", address: $taxDocument->getSupplierBillingAddress(), localeCode: $taxDocument->getLocaleCode()}
                                {if $taxDocument->getVatPayer()}
                                    <strong>Platiteľ DPH</strong>
                                {else}
                                    <strong>Neplatiteľ DPH</strong>
                                {/if}
                                <br/>
                                <br/>
                            </address>
                        </div>
                        <div class="col-sm-6 text-end" style="margin-top: 10px;">
                            <p class="mb-0" style="margin: 0; line-height: 1.6;" n:if="$taxDocument->getIssuedAt()">
                                <strong>Vystavené: </strong>{$taxDocument->getIssuedAt()|date("d.m.Y")}
                            </p>
                            <p class="mb-0" style="margin: 0; line-height: 1.6;" n:if="$taxDocument->getDueDateAt()">
                                <strong>Splatnosť:&nbsp;&nbsp;&nbsp;</strong>{$taxDocument->getDueDateAt()|date("d.m.Y")}
                            </p>
                            <p class="mb-0" style="margin: 0; line-height: 1.6;" n:if="$taxDocument->getDeliveryDateAt()">
                                <strong>Dodanie:&nbsp;&nbsp;&nbsp;</strong>{$taxDocument->getDeliveryDateAt()|date("d.m.Y")}
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-12"> <strong>Forma úhrady: </strong><br>
                    <span>{$taxDocument->getPaymentData()->getType()|transPaymentMethod} </span> <br />
                    {if $taxDocument->getPaymentData()->getType() == 'paypal'}
                        <address class="bank-account">
                            PayPal e-mail: {$taxDocument->getPaymentData()->getPaypalMail()}<br>
                        </address>
                    {elseif $taxDocument->getPaymentData()->getType() == 'bank_payment'}
                        <address class="bank-account">
                            Číslo účtu: {$taxDocument->getPaymentData()->getBankAccountNumber()}<br>
                            IBAN: {$taxDocument->getPaymentData()->getBankAccountIban()}<br>
                            SWIFT: {$taxDocument->getPaymentData()->getBankAccountSwift()}<br>
                            Variabilný symbol: {$taxDocument->getNumber()}
                        </address>
                    {/if}
                    <br />
                </div>
            </div>
            {if $taxDocument->getNoteAboveItems()}
                <div class="row">
                    <div class="col-sm-6 mb-30">
                        <p class="text-1"><strong>Poznámka nad položkami: </strong>{$taxDocument->getNoteAboveItems()}</p>
                    </div>
                </div>
            {/if}
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0 w-100">
                            <thead>
                            <tr class="">
                                <td><strong>Položka</strong></td>
                                <td><strong>Jednotková cena</strong></td>
                                <td><strong>Jednotka</strong></td>
                                <td><strong>Množstvo</strong></td>
                                {if $taxDocument->getVatPayer()}
                                    <td class="text-end"><strong>DPH</strong></td>
                                {/if}
                                <td class="text-end"><strong>Celkovo</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $taxDocument->getLineItems() as $lineItem}
                                <tr>
                                    <td>
                                        <div class="item-desc-1">
                                            <span>{$lineItem->getName()}</span>
                                        </div>
                                    </td>
                                    <td>{$lineItem->getUnitPriceTaxExcl()|moneyFormat($currencyCode, $localeCode)}</td>
                                    <td>{$lineItem->getUnit()}</td>
                                    <td>{$lineItem->getQuantity()}</td>
                                    {if $taxDocument->getVatPayer()}
                                        <td class="text-end">{$lineItem->getTotalTax()|moneyFormat($currencyCode, $localeCode)}</td>
                                    {/if}
                                    <td class="text-end">{$lineItem->getTotalPriceTaxExcl()|moneyFormat($currencyCode, $localeCode)}</td>
                                </tr>
                            {/foreach}
                            </tbody>
                            <tfoot class="card-footer">
                            {php $colspan = 4}
                            {if $taxDocument->getVatPayer()}
                                {php $colspan = 5}
                            {/if}
                            <tr>
                                    <td colspan="{$colspan}" class="text-end text-right pr-15"><strong>Medzisúčet:</strong></td>
                                    <td class="text-end">{$taxDocument->getTotalPriceTaxExcl()|moneyFormat($currencyCode, $localeCode)}</td>
                            </tr>
                            {if $taxDocument->getVatPayer()}
                                <tr>
                                    <td colspan="{$colspan}" class="text-end text-right pr-15"><strong>DPH:</strong></td>
                                    <td class="text-end">{$taxDocument->getTotalTax()|moneyFormat($currencyCode, $localeCode)}</td>
                                </tr>
                            {/if}
                            <tr>
                                <td colspan="{$colspan}" class="text-end text-right pr-15"><strong>Celkovo:</strong></td>
                                <td class="text-end">{$taxDocument->getTotalPriceTaxIncl()|moneyFormat($currencyCode, $localeCode)}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div>
            {if $taxDocument->getType() == 'proforma_invoice'}
                <p>Proforma faktúra neslúži ako daňový doklad</p>
            {/if}
        </div>
        <div>
            {if $taxDocument->getTransferedTaxLiability()}
                <p>Daň je povinný zaplatiť zákazník.</p>
            {/if}
        </div>
        <!-- Footer -->
        <footer class="text-center footer">
            {if $taxDocument->getNote()}
                <p class="text-1"><strong>Poznámka:</strong> {$taxDocument->getNote()}</p>
            {/if}
        </footer>
        <div class="copyright w-100">
            <table class="row w-100" style="margin-bottom: 5px">
                <tr>
                    <td class="w-50">
                        <div class="col-6">
                            {if $taxDocument->getIssuedBy()}
                                <p class="text-left">Vystavil: {$taxDocument->getIssuedBy()}</p>
                            {/if}
                        </div>
                    </td>
                    <td class="w-50" style="padding-right: 75px">
                        <div class="col-6">
                            <p class="text-right">Vytvorené v systéme fakturyonline.sk</p>
                        </div>
                    </td>
                </tr>
            </table>
            {if $taxDocument->getUserCompany() && $taxDocument->getUserCompany()->getRegisterInfo()}
                <p style="margin-top: -15px; text-align: left; padding: 0 2.5px 0 2.5px;" class="text-1">{$taxDocument->getUserCompany()->getRegisterInfo()}</p>
            {/if}
        </div>
    </div>
</div>
</body>
</html>