.basic-fns {
  position: relative;

  @include respondMf(xsDesktop) {
    max-width: 116rem;
    margin: 0 auto;
  }
}
.basic-fns__bg {
  display: block;

  @include respondMf(md) {
    max-width: 53.4rem;
    margin: 0 auto;
  }

  @include respondMf(lg) {
    max-width: 42rem;
  }

  @include respondMf(xsDesktop) {
    max-width: 53.4rem;
  }
}

.basic-fns__items {
  @include respondMf(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @include respondMf(lg) {
    display: block;
  }
}

.basic-fns__item {
  display: flex;
  align-items: flex-start;
  max-width: 28rem;
  margin: 0 auto 2rem;

  @include respondMf(md) {
    @include setFlexWidth(50%);
    margin: 0 0 2rem;
    padding-right: 2rem;
  }

  @include respondMf(lg) {
    @include setFlexWidth(33rem);
    position: absolute;
    margin: 0;
    padding-right: 0;
  }
}

.basic-fns__item--01,
.basic-fns__item--02 {
  @include respondMf(lg) {
    flex-direction: row-reverse;

    .basic-fns__img {
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}

.basic-fns__item--01 {
  @include respondMf(lg) {
    bottom: 24%;
    left: 0;
  }
  @include respondMf(xsDesktop) {
    left: 6%;
  }
}

.basic-fns__item--02 {
  @include respondMf(lg) {
    bottom: 48%;
    left: -3%;
  }
  @include respondMf(xsDesktop) {
    left: 3%;
  }
}

.basic-fns__item--03 {
  @include respondMf(lg) {
    left: 59%;
    top: 4%;
  }
}

.basic-fns__item--04 {
  @include respondMf(lg) {
    left: 69%;
    top: 26%;
  }
  @include respondMf(xsDesktop) {
    left: 68%;
  }
}

.basic-fns__item--05 {
  @include respondMf(lg) {
    left: 68%;
    top: 48%;
  }
  @include respondMf(xsDesktop) {
    left: 69%;
  }
}

.basic-fns__img {
  @include setFlexWidth(6rem);
  height: auto;
  margin-right: 1rem;

  @include respondMf(md) {
    @include setFlexWidth(8.1rem);
  }
}

.basic-fns__item .content {
  p:not(:last-of-type) {
    margin: 0 0 .5rem;
  }
  p:last-of-type {
    margin: 0;
  }
}
