// Header
body,
body .wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.datagrid {
  overflow: hidden;

  form {
    width: 100%;
  }

  select {
    padding: 5px !important;
  }

  > div {

    @media (max-width: 768px) {
      overflow-x: auto;
    }
  }

  // Datagrid columns
  th {
    vertical-align: middle !important;
  }

  td {
    min-width: 90px;
  }

  td,
  th {
    padding: 5px 10px;
  }

  .col-checkbox {
    min-width: 50px;
  }

  .col-billingAddressCity,
  .col-billingAddressBusinessId {
    min-width: 100px;
  }

  .col-name,
  .col-billingAddressName {
    min-width: 140px;
  }
}
