.flash-messages {
  @include setTransition(0.25, opacity);
  position: fixed;
  top: 8rem;
  right: 2rem;
  width: 28rem;
  z-index: 9999;

  @include respondMf(md) {
    width: 50rem;
  }
}

.flash-messages--fade-out {
  opacity: 0;
}

.alert {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: .4rem;
  color: #fff;

  @include respondMf(md) {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2.5rem 2.5rem 2.2rem;
  }
}

.alert .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: #fff;

  background-color: transparent;
  border: none;
  opacity: 0.5;

  &::before {
    font-family: "treneoicons", sans-serif;
    content: "\41";
  }
}

.alert .text-container {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;

  @include respondMf(md) {
    font-size: 1.5rem;
  }
}

.alert .icon-container {
  display: none;
  width: 5.5rem;
  margin: 0 auto .5rem;
  text-align: center;
  vertical-align: top;

  @include respondMf(md) {
    margin: 0 2rem 0 0;
  }

  .icon {
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;

    &::before {
      font-family: "treneoicons", sans-serif;
    }
  }

  .icon-error {

    &::before {
      content: "\72";
    }
  }
  .icon-warning {

    &::before {
      content: "\61";
    }
  }

  .icon-checked {

    &::before {
      content: "\6e";
    }
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f42727;

  .icon-container {
    display: block;
  }
}
.alert-info {
  color: #AC5400;
  background-color: #FFC690;
}
.alert-warning {
  background-color: #ffb300;

  .icon-container {
    display: block;
  }
}
.alert-success {
  background-color: $color-1;

  .icon-container {
    display: block;
  }
}
.alert-danger {
  background-color: #f42727;
}
