.footer-socials {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem;

  @include respondMf(lg) {
    margin: 0;
  }
}
.footer-socials__item {
  display: block;
  width: 4.1rem;
  margin: .4rem;
}
.footer-socials__icon {
  width: 100%;

  circle,
  path {
    @include setTransition(0.25, fill);
  }

  .footer-socials__item:hover & {
    circle {
      fill: $color-1;
    }
    path {
      fill: #fff;
    }
  }
}
