.plans-pics {
  text-align: center;

  @include respondMf(md) {
    position: relative;
    display: flex;
    align-items: center;
  }
}
.plans-pics__title {
  width: 6rem;
  margin: 0 auto 2rem;

  @include respondMf(md) {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    width: 10rem;
  }

  img {
    width: 100%;
  }
}

.plans-pics__trainer {
  width: 80%;
  margin: 0 auto;

  img {
    @include respondMf(md) {
      width: 80%;
    }
  }
}

.plans-pics__client {

  @include respondMf(md) {
    position: relative;
    top: 3rem;
  }
}

.plans-pics__trainer,
.plans-pics__client {
  @include respondMf(md) {
    @include setFlexWidth(50%);
  }
}
