.social-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.3rem;
  position: relative;
  margin: 0 1.7rem;
  padding: 0.2rem 1.2rem 0.2rem 0.1rem;
}

.social-button__icon {
  display: inline-block;
  padding: 1.15rem;

  svg,
  img {
    width: 2rem;
    height: auto;
  }
}

.social-button__text {
  font-size: 14px;
  line-height: 40px;
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  letter-spacing: .21px;
  display: block;
  width: 100%;
  text-align: center;
}

// Facebook social button
.social-button--fb {
  background-color: #1877f2;
  color: white !important;
}

.social-button--fb .social-button__icon {

  svg,
  img {
    width: 2.8rem;
  }
}

// Google social button
.social-button--google {
  background-color: #4285F4;
  color: white !important;

  &:before {
    display: none;
  }
}

.social-button--google .social-button__icon {
  background-color: white;
}

.social-button-apple {
  padding: 0;
}

#appleid-signin {
  width: 100%;
  height: 5.5rem;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  background-color: #000000;

  div {
    &:focus {
      outline: none;
    }
  }
}
