{block content}

<div class="page container">

    <div class="row scroll-margin">
        <div class="col-12 my-3">
            <div class="display-4 fw-bold py-3">Objednávka</div>
        </div>
    </div>
    <div class="row scroll-margin">
        {control checkoutForm}
    </div>
</div>