.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.hover-opacity {
  @include setTransition(.25, opacity);

  &:hover {
    opacity: 0.6;
  }
}

.ow-hidden {
  overflow: hidden;
}

.google-map {
  max-width: 58rem;
  height: 30rem;

  @include respondMf(md) {
    height: 42.8rem;
  }

  @include respondMf(xsDesktop) {
    margin-left: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
