{form form}
    {if ($form->getErrors()|length) > 0}
        <ul class="form-errors">
            {foreach $form->getErrors() as $error}
                <li>{$error}</li>
            {/foreach}
        </ul>
    {/if}
    <div class="col-12 mb-3">
        <div class="form-floating">
            <input
                    n:name="passwordNew"
                    class="form-control"
                    placeholder="Váš e-mail"
                >
            <div class="error-msg"></div>
            <label
                    n:name="passwordNew"
                    class="form-label">Nové heslo</label>
        </div>
        <div class=invalid-feedback n:ifcontent>{inputError passwordNew}</div>
    </div>
    <div class="col-12 mb-3">
        <div class="form-floating">
            <input
                    n:name="passwordNewRepeat"
                    class="form-control"
                    placeholder="Váš e-mail"
            >
            <div class="error-msg"></div>
            <label
                    n:name="passwordNewRepeat"
                    class="form-label">Nové heslo znova</label>
        </div>
        <div class=invalid-feedback n:ifcontent>{inputError passwordNewRepeat}</div>
    </div>
    <div class="col-12">
        <button
                type="submit"
                n:name="submit"
                class="btn btn-warning w-100 py-3"
        >Nastaviť heslo</button>
    </div>
    <div class="col-12 mt-3 text-center text-muted">Alebo</div>
    <div class="col-12">
        <a
                href="{plink :Security:Auth:login}"
                type="button"
                class="btn btn-primary w-100 py-3 mt-3"
        >Prihlásiť sa</a>
    </div>
{/form}
