<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Fakturujonline.sk</title>
	<!-- Main.css -->
	<link rel="stylesheet" href='{webpack "dist/css/main.css"}'>
	<!-- Datagrid dependencies -->
	<link rel="stylesheet" href="{$basePath}/assets/vendors/ublaboo/datagrid/assets/datagrid.css">
	<link rel="stylesheet" href="{$basePath}/assets/vendors/ublaboo/datagrid/assets/datagrid-spinners.css">
</head>

<body
		class="{if isset($body_classes)}{$body_classes}{else}{/if}"
		style="{if isset($body_styles)}{$body_styles}{else}{/if}">
	<div class="d-flex flex-column flex-grow-1 flex-shrink-1">
		<!-- Flashes -->
		<div n:foreach="$flashes as $flash" n:class="alertflash, $flash->type, alert">{$flash->message}</div>

		<!-- Aside nav -->
		{include 'partials/aside-nav.latte'}
		<!-- Wrapper -->
		<div class="wrapper">
			{include 'partials/header.latte'}
			<!-- Content -->
			{include content}

			<!-- footer -->
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col"><span class="fw-light">Copyright © 2023</span></div>
						<div class="col-auto">
							<a href="https://fakturujonline.sk/"
							   class="text-decoration-none link-dark">
								<small class="fw-bold">Fakturujonline.sk</small>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>

	</div>

	<!-- Scripts -->
	{block scripts}
		<script href='{webpack "dist/js/main.js"}'></script>
		{*	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>*}
	{/block}

	<!--datagrid dependencies -->
	<script
			src="https://code.jquery.com/jquery-3.7.0.min.js"
			integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			crossorigin="anonymous"></script>
	<script src="{$basePath}/assets/js/nette.ajax.js"></script>
	<script>
		// Init nette ajax js
		$(function () {
			$.nette.init();
		});
	</script>
	<script src="{$basePath}/assets/vendors/ublaboo/datagrid/assets/datagrid.js"></script>
	<script src="{$basePath}/assets/vendors/ublaboo/datagrid/assets/datagrid-spinners.js"></script>
    <!-- Datagrid bootstrap fix -->
	<script>
		$(document.body).on('click', "[data-toggle='collapse']", function() {
			var target = $(this).attr('data-target');
			var $target = $(target);

			if($target.hasClass('show')) {
				$target.removeClass('show');
			} else {
				$target.addClass('show');
			}
		});
	</script>
</body>
</html>
